Repository BP-TPSE-Projektgruppe-80/NaPyTau, pull requests merged in 2024-12, with the labels that each got.

#12 Added menubar and buttons to the GUI
  napytau/core/logic_mockup.py
  napytau/gui/app.py
  napytau/gui/components/checkbox_panel.py
  napytau/gui/components/control_panel.py
  napytau/gui/components/graph.py
  napytau/gui/components/logger.py
  napytau/gui/components/menu_bar.py
  napytau/gui/model/checkbox_datapoint.py
  napytau/gui/ui_mockup.py
  napytau/main.py
  napytau/util/coalesce.py
  tests/cli/cli_arguments_test.py
  tests/cli/parser_test.py
  tests/main_test.py
Labels: GUI

#35 chore: Raise minimum matplotlib version
  pyproject.toml
Labels: Tooling

#22 Add Import demo
  napytau/cli/cli_arguments.py
  napytau/cli/parser.py
  napytau/headless/headless_mockup.py
  napytau/import_export/import_export.py
  tests/cli/cli_arguments_test.py
  tests/cli/parser_test.py
Labels: Import/Export
